.content {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.options{
    float: right;
    margin-right: 2rem;
}

.links, .skill, .org{
    margin-top: 2rem;
}

.between {
    display: flex;
    justify-content: space-between;
}

.bubble {
    background-color: #fcfcfc;
    color: #181818;
    padding: 6px;
    margin: 8px;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 25px;
}

.circle{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-color: #181818;
    color: #ccc;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
}

/* slideshow */

.slideshow-container {
    position: relative;
    background: #dfdfdf;
}

.mySlides {
    color: #181818;
    min-height: 30rem;
    display: none;
    padding: 20px 70px;
    overflow-x: scroll;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #181818;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(65, 65, 65, 0.8);
    color: white;
}

/* Slide Navigation */

.dot-container {
    text-align: center;
    background: #bbb;
    overflow-x: scroll;
    white-space: nowrap;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #434343;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1px;
}


::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}