.content {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
}

.slide-header {
    display: flex;
    justify-content: space-between;
}

/* match % */
.progress-container {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #434343;
}

.progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #434343;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid rgb(0, 0, 0);
    clip: rect(0, 100px, 200px, 0);
    transition: clip 1s;
}

.progress-bar.fill {
    clip: rect(0, 200px, 200px, 100px);
}

/* slideshow */

.slideshow-container {
    position: relative;
    background: #ccc;
}

.mySlides {
    color: #181818;
    min-height: 30rem;
    display: none;
    padding: 20px 70px;
    overflow-x: scroll;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #181818;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(65, 65, 65, 0.8);
    color: white;
}

/* Slide Navigation */

.dot-container {
    text-align: center;
    background: #bbb;
    overflow-x: scroll;
    white-space: nowrap;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #434343;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1px;
}


::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}