{% extends "base.html" %}
{% block title %}Recruiter Match{% endblock %}
{% block styles %}
<link href="{{ url_for('static',path='/recruiter-report.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="options">
    <button>download <span class="material-symbols-outlined">download</span></button>
</div>

<div class="content">
    <div class="slideshow-container">
        {% for key, value in ranking.items() %}
        <div class="mySlides">
            <div class="slide-header between">
                <div style="padding-top: 10px;">
                    <h2>{{ value.ner.per[0] }}</h2>
                </div>
                <div class="circle">{{ value.match }}%</div>
            </div>
            <div class="slide-body">
                <div class="between">
                    <div class="contact">
                        {% if 'phone' in value.ner %}
                        <p>📞 {{ value.ner.phone[0] }}</p>
                        {% endif %}
                        {% if 'email' in value.ner %}
                        <p>📧 {{ value.ner.email[0]| lower }}</p>
                        {% endif %}
                    </div>
                    <div class="Education">
                        {% if 'deg' in value.ner %}
                        <p>🎓 {{ value.ner.deg[0] }}</p>
                        {% endif %}
                        {% if 'college' in value.ner %}
                        <p>🏫 {{ value.ner.college[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="org">
                    {% if 'org' in value.ner %}
                    <p>🏢 They have worked with - </p>
                    {% for org in value.ner.org %}
                    <span class="org bubble">{{ org }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="skill">
                    <p>Skills</p>
                    {% if 'skill' in value.ner %}
                    {% for skill in value.ner.skill %}
                    <span class="skill bubble">{{ skill }}</span>
                    {% endfor %}
                    {% endif %}

                    {% if 'lang' in value.ner %}
                    <p>Languages: </p>
                    {% for lang in value.ner.lang %}
                    <span class="lang bubble">{{ lang }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="links">
                    <p>Found some links!</p>
                    {% if 'link' in value.ner %}
                    {% for _link in value.ner.link %}
                    <a href="{{ _link }}">🔗 {{ _link }}</a>
                    {% endfor %}
                    {% endif %}
                    {% if 'link' in value %}
                    {% for link in value.links %}
                    <a href="{{ link }}">🔗 {{ link }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    <div class="dot-container">
        {% for n in range(ranking| length) %}
        <span class="dot" onclick="currentSlide({{ n }});"></span>
        {% endfor %}
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

{% endblock %}