{% extends "base.html" %}
{% block title %}Recruiter Match{% endblock %}
{% block styles %}
<link href="{{ url_for('static',path='/recruiter-home.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<script>
    function loading() {
        $(".loader").show();
        $(".content").hide();
    }

    function display(buttonValue) {
        $('.opt').hide()
        $(`#${buttonValue}`).show()
    }
</script>
<div class="content">
    <h1>Hey There <span class="hand-wave">👋</span></h1>
    <p style="margin-bottom: 8vh;">Find the best candidates for the job now!</p>
    <div>
        <button id="resume-btn" type="button" onclick="display('upload')">Resume File</button>
        <button id="excel-btn" type="button" onclick="display('excel')">Excel</button>
        <button id="google-link-btn" type="button" onclick="display('google-link')">Drive link</button>
    </div>

    <div>
        <form id="upload" class="opt" style="display: none;" action="{{ url_for('resume_ranking_pdf')}}" method="post"
            enctype="multipart/form-data">
            <textarea name="job_description" placeholder="Enter the JD"></textarea><br>
            <input class="file-upload-button" type="file" name='pdf_file' multiple><br>
            <button type="submit" onclick="loading();" name="action" value="pdf_file">Upload</button>
        </form>
        <form id="excel" class="opt" style="display: none;" action="{{ url_for('resume_ranking_excel')}}" method="post"
            enctype="multipart/form-data">
            <textarea name="job_description" placeholder="Enter the JD"></textarea><br>
            <p>NOTE: Ensure that there is only one col and there is no header</p>
            <input type="file" name="excel_file"><br>
            <button type="submit" onclick="loading();" name="action" value="excel_file">Upload</button>
        </form>
        <form id="google-link" class="opt" style="display: none;" action="{{ url_for('resume_ranking_drive')}}"
            method="post">
            <textarea name="job_description" placeholder="Enter the JD"></textarea><br>
            <textarea name="google_link" placeholder="Paste the drive links seperated by a ','"></textarea><br>
            <button type="submit" onclick="loading();" name="action" value="google_link">Upload</button>
        </form>
    </div>
</div>

<div class="loader"></div>
{% endblock %}