{% extends "base.html" %}
{% block title %}Recruiter Match{% endblock %}
{% block styles %}
<link href="{{ url_for('static',path='/recruiter-report.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="content">
    <div class="slideshow-container">
        {% for key, value in ranking.items() %}
        <div class="mySlides">
            <div class="slide-header between">
                <div style="padding-top: 10px;">
                    <h2>{{ value.ner.per[0] }}</h2>
                </div>
                <div class="circle">
                    <p>{{ value.match }}%</p>
                </div>
            </div>
            <div class="slide-body">
                <div class="between">
                    <div class="contact">
                        {% if 'phone' in value.ner %}
                        <p>📞 {{ value.ner.phone[0] }}</p>
                        {% endif %}
                        {% if 'email' in value.ner %}
                        <p>📧 {{ value.ner.email[0]| lower }}</p>
                        {% endif %}
                    </div>
                    <div class="Education">
                        {% if 'deg' in value.ner %}
                        <p>🎓 {{ value.ner.deg[0] }}</p>
                        {% endif %}
                        {% if 'college' in value.ner %}
                        <p>🏫 {{ value.ner.college[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="org">
                    {% if 'org' in value.ner %}
                    <h3>🏢 They have worked with - </h3>
                    {% for org in value.ner.org %}
                    <p class="org bubble" style="display: inline-block;">{{ org }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="skill">
                    <h3>Skills</h3>
                    {% if 'skill' in value.ner %}
                    {% for skill in value.ner.skill %}
                    <p class="skill bubble" style="display: inline-block;">{{ skill }}</p>
                    {% endfor %}
                    {% endif %}

                    {% if 'lang' in value.ner %}
                    <h3>Languages: </h3>
                    {% for lang in value.ner.lang %}
                    <span class="lang bubble" style="display: inline-block;">{{ lang }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="links">
                    <p>Found some links!</p>
                    {% for link in value.links %}

                    {% set link = link.lower() %}
                    {% if '/' in link %}
                    {% if "www." in link.lower() %}
                        {% set link = "https://www." + link.split("www.")[-1] %}
                    {% else %}
                        {% set link = "https://www." + link %}
                    {% endif %}

                    <a href="{{ link }}">🔗 {{ link }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="github">
                    <h3>GitHub</h3>
                    {% if value.github|length > 0 %}
                    <img src="https://github-readme-activity-graph.vercel.app/graph?username={{ value.github[0] }}&bg_color=000&point=fff&theme=github-compact"
                        alt="{{ value.github[0] }}'s contribution graph" style="width: 45rem;">

                    <img
                        src="https://github-readme-stats.vercel.app/api?username={{ value.github[0] }}&show_icons=true&count_private=true&theme=radical">
                    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ value.github[0] }}&layout=compact&theme=radical"
                        alt="{{ value.github[0] }}'s language stats">
                    {% else %}
                    <p>None Found!!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    <div class="dot-container">
        {% for n in range(ranking| length) %}
        <span class="dot" onclick="currentSlide({{ n }});"></span>
        {% endfor %}
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>

{% endblock %}